.AddList {
    border: transparent;
    border-radius: 7px;
    width: 330px;
    height: 375px;
    overflow: hidden;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #ece6e1;
    font-family: 'Manrope', sans-serif;
    margin: 10px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: rgb(5, 80, 93);
    margin-left: 25px;
}

.budget {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    border: white solid 1px;
    border-radius: 5px;
    height: 100px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
    background-color:rgb(5, 80, 93);
    font-size: 18px;
}

.budget-text {
    padding-top: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.number-text {
    text-decoration: none;
    margin-top: 10px;
    color:#ffae42;
}

.list-remove-button, .list-view-details {
    background-color: transparent;
    color:rgb(5, 80, 93);
    border: white solid 1px;
    border-radius: 5px;
    padding: 6px 20px 6px 15px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    font-size: 12px;
}

.list-image {
    width: 330px;
    height: 225px;
    padding: 0;
    margin: 0;
}


.list-view-details:hover {
    cursor: pointer;
    background-color: rgb(5, 80, 93);
    color: #ffae42;
    border: transparent;
}

.list-details-add-button {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 5px 15px;
}

.list-rating-price {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 20px;
    font-size: 15px;
    padding-top: 0px;
}

.list-name {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    text-decoration: overline;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 7px;
    font-weight: bold;
    z-index: 1;
}

.list-price {
    font-weight:bold
}

.add-list-container {
    display: flex;
    flex-direction: column;
}

.budget-addlist-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.empty-list{
    font-size: 25px;
    padding-top: 25px;
}

@media screen and (min-width: 768px ) {

    .budget {
        margin-left: 25px;
        font-size: 18px;
    }

    .list-container {
        justify-content: center;
    }

    .empty-list{
        font-size: 30px;
        padding-right: 20px;
    }

}

@media screen and (min-width: 1240px ) {

    .list-container {
        justify-content: center;
    }

    .empty-list{
        font-size: 35px;
        padding-right: 55px;
    }

    .budget {
        font-size: 25px;
        padding: 15px;
    }

}