.Header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(192, 193, 196, 0.955) 0px 10px 10px -10px;
    background: rgb(5, 80, 93);
    height: 80px;
}


.search-button, .list-button, .sign-in-button, .sign-out-button {
    background-color: transparent;
    color: black;
    border: transparent;
    cursor: pointer;
}

.search-button:hover, .list-button:hover, .sign-out-button:hover {
    translate: scale(1.3);
    border-radius: 2px;
    border: #ffae42 solid 1px;
}

.search-button:active, .list-button:active, .sign-in-button:active {
    transform: scale(1);
}

.sign-in {
    display: flex;
    margin-top: 18px;
    margin-right: 50px;
}

.sign-in-button {
    padding: 0;
    margin-right: 10px;
}

.sign-in-button:hover {
    padding: 8px;
    border-radius: 2px;
    border: #ffae42 solid 1px;
    margin: 0;
}

.sign-in-text {
    color: white;
    font-size: 13px;
}

.list-button {
    margin-right: 40px;
    margin-left: 25px;
    margin-top: 23px;
}

.list-text {
    margin-left: 22px;
}

.search-button {
    margin-top: 25px;
}

.search-text, .list-text, .sign-out-text {
    font-size: 10px;
    color: white;
    margin-top: 10px;
}

.bleh {
    display: flex;
    flex-direction: column;
}

.sign-out-text {
    font-size: 10px;
    color: white;
    margin-right: 27px;
}

.sign-out-button {
    margin-top: 25px;
    margin-right: 25px;
}

.welcome-text {
    margin-top: 27px;
    margin-right: 15px;
    color: white;
}

.welcome-container {
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
    padding-left: 0px;
}

.nav-btns {
    display: flex;
}
