.searcLocationhInput, .category-box {
    padding: 15px;
    width: 350px;
    border-radius: 5px;
    box-shadow: rgba(192, 193, 196, 0.955) 0px 10px 10px -10px;
    border: rgb(203, 200, 200) solid 0.5px;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    color:rgb(5, 80, 93);
}

.category-box {
    font-size: 12px;
}

.searcLocationhInput {
    padding: 16px;
    width: 318px;
    margin-top: 10px;
    font-size: 12px;
}

input[type=checkbox] {
    accent-color: #ffae42;
}

.searchForm {
    color:rgb(5, 80, 93);
}


.check-box-container {
    color:#ffae42;
}

.SearchList {
    border: transparent;
    border-radius: 7px;
    width: 330px;
    height: 375px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color:rgb(5, 80, 93);
    font-family: 'Manrope', sans-serif;
}


.results-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    color: white;
}

form {
    text-align: center;
}

.add-button, .remove-button, .view-details {
    background-color: transparent;
    color: #ffae42;
    border: #ffae42 solid 1px;
    border-radius: 5px;
    padding: 6px 20px 6px 15px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    font-size: 12px;
}

.remove-button:hover {
    background-color:#ffae42;
    color:rgb(5, 80, 93);
}

.add-button:active {
    background-color: transparent;
}

.result-image {
    width: 330px;
    height: 225px;
    padding: 0;
    margin: 0;
}

.searchButton {
    border-radius: 5px;
    margin-top: 15px;
    border: rgb(5, 80, 93) solid 0.5px;
    color:rgb(5, 80, 93);
    background-color:transparent;
    width: 150px;
    padding: 7px;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    box-shadow: rgba(192, 193, 196, 0.955) 0px 10px 10px -10px;
}

.searchButton:active {
    background-color: rgb(5, 80, 93);
    color: #ffae42;
}

p {
    margin: 10px;
}

.details-add-button {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 5px 15px;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 20px;
    font-size: 15px;
    padding-top: 0px;
}

.result-name {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    text-decoration: overline;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 7px;
    font-weight: bold;
}

.result-price {
    font-weight:bold
}

@media screen and (min-width: 768px ) {

    .searcLocationhInput, .category-box {
        width: 340px;
    }

    .category-box {
        font-size: 15px;
    }

    .searcLocationhInput {
        padding: 16px;
        margin-top: 0;
        border-left: none;
        font-size: 15px;
    }

    .searchButton {
        width: 180px;
        font-size: 18px;
        padding: 10px;
    }

    .SearchList {
        width: 330px;
        height: 375px;
        margin: 20px;
    }

}

@media screen and (min-width: 1240px ) {

    .searcLocationhInput, .category-box {
        width: 440px;
    }

    .searcLocationhInput {
        padding: 16px;
        margin-top: 0;
        border-left: none;
        font-size: 15px;
    }

    .searchButton {
        width: 200px;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
    }

    .category-box {
        font-size: 15px;
    }

    .SearchList {
        width: 330px;
        height: 375px;
        margin: 20px;
    }

    .remove-button {
        background-color:#ffae42;
        color:rgb(5, 80, 93);
    }

    .add-button:hover, .remove-button:hover {
        cursor: pointer;
        background-color: #ffae42;
        color: rgb(5, 80, 93);
    }

    .searchButton:hover {
        color: #ffae42;
        border: #ffae42 solid 1px;
        background-color: white;
    }

    .view-details:hover {
        cursor: pointer;
        background-color: #ece6e1;
        color:rgb(5, 80, 93);
    }
    
}