

body{
  width: 100%;
  background-color: #ece6e1;
}

.main-photo-container {
  display: flex;
}

.main-photo {
  height: 75px;
  width: 102px;
  border-right: 10px solid #ffffff;
}

.main-photo-rest {
  border: none;
}


@media screen and (min-width: 768px ) and (max-width: 1599px) {
  
  .main-photo {
    height: 250px;
    width: 378px;
  }

} 

@media screen and (min-width: 1600px) {

  .main-photo {
    height: 250px;
    width: 500px;
  }

}